/* font Inter */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 36px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 10px;
}

.nav-buttons {
    display: flex;
}

.nav-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.nav-buttons button:hover {
    background-color: #242424;
}

/* Galleria */
/* Griglia con righe fisse */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonne uguali */
    grid-template-rows: repeat(2, 500px); /* 2 righe alte 500px */
    gap: 10px; /* Spaziatura tra le celle */
    padding: 20px;
    justify-items: center; /* Centra le immagini orizzontalmente */
    align-items: center; /* Centra le immagini verticalmente */
}

/* Imposta il contenitore per ogni immagine */
.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Altezza della cella */
    overflow: hidden;
}

/* Gestisci le immagini */
.gallery-item img {
    width: 100%; /* Adatta la larghezza dell'immagine alla cella */
    height: 100%; /* Altezza fissa */
    object-fit: cover; /* Riempi lo spazio senza deformare l'immagine */
}

/* Seleziona le immagini orizzontali e allargale su 2 colonne */
.gallery-item.horizontal {
    grid-column: span 2;
}

/* Seleziona le immagini verticali e allargale su 2 righe */
.gallery-item.vertical {
    grid-row: span 2;
}